<nav>
  <ul>
    <li>
      <a href="#">Hip Hop</a>
    </li>
    <li>
      <a href="#">Punk</a>
    </li>
    <li>
      <a href="#">Pop</a>
    </li>
    <li>
      <a href="#">Electronica</a>
    </li>
    <li>
      <a href="#">R&B</a>
    </li>
  </ul>
</nav>
