<nav>
  <h2 class="sr-only">Main Navigation</h2>
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/tech">Tech</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/?genre=Hip%20Hop">Hip Hop</a>
    </li>
    <li>
      <a href="/?genre=Punk">Punk</a>
    </li>
    <li>
      <a href="/?genre=Pop">Pop</a>
    </li>
    <li>
      <a href="/?genre=Electronica">Electronica</a>
    </li>
    <li>
      <a href="/?genre=R%26B">R&B</a>
    </li>
  </ul>
</nav>
