<nav>
  <ul>
    <li>
      <a href="#">Rock</a>
    </li>
    <li>
      <a href="#">Punk</a>
    </li>
    <li>
      <a href="#">Electronica</a>
    </li>
    <li>
      <a href="#">Pop</a>
    </li>
    <li>
      <a href="#">Funk</a>
    </li>
  </ul>
</nav>
