<%- include partials/head.ejs %>

<body>
  <section class="primary-nav">
    <a href="/">
      <h1><%= title %></h1>
    </a>
    <%- include partials/nav.ejs %>
  </section>
  <section class="primary-content">
    <p>Music Collection is a small node SSR app built with express!</p>
  </section>
</body>

</html>
