<%- include partials/head.ejs %>

<body>
  <section class="primary-nav">
    <h1><%= title %></h1>
    <%- include partials/nav.ejs %>
  </section>
  <section class="primary-content">
    <p>Select Music From the Library!</p>
    <div class="cards">
      <div class="card">

      </div>
    </div>
  </section>
  <%- include partials/scripts.ejs %>
</body>

</html>
