@import "../node_modules/normalize.css/normalize.css";
@import "./cold-lib.scss";

$black: #232528;
$white: #eaf6ff;
$blue: #2a2a72;
$light-blue: #009ffd;
$gold: #ffa400;

@mixin gentium($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Gentium Basic", serif;
}

@mixin sans($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $white;
}
h1 {
  @include gentium($color: $black, $size: 32pt);
  margin: 0;
}
p {
  @include sans($color: $black, $size: 12pt);
  margin: 0;
}
.primary-nav {
  width: 100%;
  padding: 15px;
  background-color: $blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  h1 {
    color: $white;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    li {
      margin: 5px;
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}
.primary-content {
  padding: 15px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
